MNEMONIC=test test test test test test test test test test test junk
INFURA_KEY=
ALCHEMY_KEY=
ETHERSCAN_KEY=

// This option is used to set the network on which to run hardhat's forked
// network. The following options are currently available:
//   * mainnet, avalanche, polygon, bsc, fantom, arbitrumOne, optimisticEthereum
NETWORK=mainnet
